.homeIlustration{
  margin: 0px;
  padding: 0px;
  width: 45%;
  margin: auto;
  display: block;
  margin-top: 10vh;
}
.title{
  margin: 0px;
  padding: 0px;
  font-size: 8vw;
  text-align: center;
  margin-top: 5vh;
}
.description{
  margin: 0px;
  padding: 0px;
  font-size: 4vw;
  text-align: center;
  margin-top: 1.5vh;
}
.homeButton{
  margin: 0px;
  padding: 0px;
  width: 75%;
  height: 47px;
  border-radius: 15px;
  margin: auto;
  display: block;
  text-align: center;
  margin-top: 40vh;
}
.registerText{
  margin: 0px;
  padding: 0px;
  font-size: 4vw;
  text-align: center;
  margin-top: 3.5vh;
}